// Override Bootstrap color system

$base-color: #1B1725;

// Override Bootstrap default state colors

$primary: #D0BCD5;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;

//Add new colors
$dark-purple: #1B1725;
